/*div{
    background-color:#FF0000;
    width:200px;
    height:200px;
    margin:auto;
    transform:scale(1);
    transform:rotate(30deg);
}*//*
div{
    background-color:#FF0000;
    width:200px;
    height:200px;
    position:fixed;
    right:0px;
    bottom:0px;
    transform: rotate(90deg);
}*/
div{
    background-color:#FF0000;
    width:200px;
    height:200px;
    margin:auto;
    transform:skew(20deg, 5deg)
}